<form id="forms">
    <p class="stts"></p>
    <p id="logsms"></p>
    <input type="text" name="title" required placeholder="Blog Title"  id="title" />
    <div class="title error"></div>
    <input type="text" name="category" required placeholder="Category"  id="cat" />
    <div class="category error"></div>
    <textarea id="cont" name="more" required cols="30" rows="5" placeholder="More" ></textarea>
    <div class="more error"></div>
    <button type="submit">Post</button>
</form>