<header id="top">
    <a href="/" class="nav-logo">Tresor</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#why">Why me?</a></li>
      <li><a href="/#who-am-i">About me</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a id="sgnbtn" href="/#sign-in">Sign in</a></li>
      <li class="special"><a href="/#contact">Send inquiry</a></li>
    </ul>
    <div class="togglerIcon" id="navIcon">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </header>
  <div class="menuTog" id="mn">
    <a href="/#main">Home</a>
    <a href="/#why">Why me?</a>
    <a href="/#who-am-i">About</a>
    <a id="sgnbtn" href="/#sign-in">Sign in</a>
    <a href="/blog">Blog</a>
    <a href="/#contact">Contact</a>
  </div>