<button>
    <a href="/dashboard"><i class="fa-regular fa-envelope"></i> Messages</a>
</button>
<button id="new">
    <span class="fa-solid fa-plus-square"></span> New Post
</button>
<button>
    <a href="/allArticles"><i class="fa-solid fa-blog"></i> Blogs</a>
</button>