<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/apple-touch-icon.png" type="image/png" />
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://kit.fontawesome.com/cf03def005.js" crossorigin="anonymous"></script>
    <title>All Messages ::MY Brand</title>
</head>

<body id="body">
    <nav class="w-100 flex align-center">
        <div class="lg">
            <a href="#" class="logo">Tresor</a>
            <small>blog</small>
        </div>
        <ul>
            <li><a href="/blog">Blog</a></li>
        </ul>
        <div id="toggler" class="profile">
            <div class="userProfile fa-solid fa-user-circle"></div>
        </div>
    </nav>
    <div id="menus" class="menuUser">
        <a href="/blog">Blog</a>
        <!-- <a href="#"><span class="fa-solid fa-user-cog"></span> Profile</a> -->
        <a href="/logout" class="logout"><span class="fa-solid fa-right-from-bracket"></span> Logout</a>
    </div>
    <div id="main-page" class="w-100" style="height: auto; background: whitesmoke">
        <h3><small>blog/</small> Messages</h3>
        <div class="contents w-100 flex content-center">
            <%- include('partials/side') %> 
            <div id="posts" style="width: 300px margin-top: -100px;" class="posts"></div>
        </div>
    </div>
    <div id="form" class="postForm">
        <div class="header flex space-between">
            <h3>ADD NEW POST</h3>
            <span id="close" class="fa-solid fa-close"></span>
        </div>
        <div class="body"><%- include('partials/blogForm') %></div>
    </div>


    <script src="js/main.js"></script>
    <script src="js/sendPost.js"></script>
    <script src="js/renderPost.js"></script>
    <script>
        let postContainer = document.querySelector(".posts");
        let clses = document.getElementById("closes");
        
        document.addEventListener("DOMContentLoaded", async (e) => {
            let msgs = await fetchAllMessages();
            await msgs.messages.map((el, inx) => {
                postContainer.innerHTML += `
                <div class="card">
                    <div class="text-info">
                        <h5>${el.names} <small>(${el.email})</small></h5>
                        <p>${el.messageContent}.</p>
                        <p style="margin-top: 10px;"><small>${el.messageDate}</small></p>
                    </div>
                </div>
                `;
            })
            
        });
    </script>
    <script>
        let btn = document.getElementById("new");
        let form = document.getElementById("form");
        let pg = document.getElementById("main-page");
        let clse = document.getElementById("close");
        let toggler = document.getElementById("toggler");

        clse.addEventListener("click", () => {
            form.classList.remove("show");
            pg.style.filter = "";
        });
        btn.addEventListener("click", () => {
            form.classList.toggle("show");
            if (form.className == "postForm show") {
                pg.style.filter = "blur(3px)";
            } else {
                pg.style.filter = "";
            }
        });
        toggler.addEventListener("click", () => {
            menus.classList.toggle("toggled");
        });
    </script>
</body>

</html>